@font-face {
  font-family: 'Comfortaa';
  src: url('./assets/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Roboto', system-ui, 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-weight: 500;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #8d919b;
  background-color: transparent;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  user-select: none;
  height: 100svh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 432px;
  min-height: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: lavender;
  /* background-color: antiquewhite; */
  position: relative;
}

header,
footer {
  flex-shrink: 0;
}

input,
button {
  text-align: center;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin: 73px 0 5px 0;
}

header h2 {
  margin: 3px 0 0 38px;
  width: 96px;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.02rem;
  line-height: 0.8;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

main .touch-area {
  flex: 1 1 auto;
  margin-top: 44px;
}

footer {
  height: 84px;
  box-shadow: 0 -4px 8px #0003;
}

#metrics {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  min-width: 432px;
}
