:root {
  font-family: 'Roboto', system-ui, 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-weight: 500;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #8d919b;
  background-color: transparent;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  user-select: none;
  height: 100svh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 432px;
  min-height: 960px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #e1e8e9;
}

header,
footer {
  flex-shrink: 0;
}

input {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin: 72px 0 6px 0;
  padding-left: 36px;
}

header h2 {
  width: 98px;
  margin: 6px 0 0 0;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.0765rem;
  line-height: 0.765;
}

main {
  flex: 1 1 auto;
}

footer {
  height: 108px;
  box-shadow: 0 -4px 8px #0003;
}

#metrics {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  min-width: 432px;
}
